@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* ////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Areas
        3.1 Navigatiebalk
        3.2 Landingspagina
//////////////////////// */

/*------------------------- 1. Global Styles ------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --beigeColor: #F2F3D9;
    --oldRoseColor: #C16E70;
}

body {
    background-color: var(--beigeColor);
}

nav {
    padding: 0 40px;
    background-color: black;
    color: white;
}

.logo {
    text-transform: uppercase;
}

header {
    padding: 0 40px;
}

main {
    padding: 0 40px;
}

li {
    list-style-type: none;
}

/* ------------------------ 2. Typography --------------------------- */

body {
    font-family: "Open Sans", sans-serif;
    color: #222;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
    font-weight: 600;
}

nav {
    font-size: 20px;
}

/* ------------------------ 3. Areas -------------------------------- */

/* ---------------- 3.1 Navigatiebalk --------------------------- */

nav {
    flex: 0 0 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 50px;

}

/* ---------------- 3.2 Landingspagina --------------------------- */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    flex: 0 1 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

article {
    height: 350px;
    background-color: var(--oldRoseColor);
    border-radius: 5px;
    padding: 20px;
    text-align: center;

    text-overflow-ellipsis: auto;
    overflow: hidden;

    flex: 0 1 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
